html{
    box-sizing: border-box
}
*, 
*::before, *::after{
    box-sizing: inherit
}
a{
    display: inline-block;
    text-decoration: none;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}
.container{
    max-width: 952px;
    margin: 0 auto;
    padding: 0 29px 0 43px;
}